# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars       # Keeps secrets out of git
.terraform.lock.hcl
terraform/response.json   
src/upload-handler/upload-handler.zip
src/processor/processor.zip

# AWS
.aws/